# Dossiers de fichiers uploadés et temporaires
uploads/
tmp/
cache/

# Variables d'environnement
.env
.env.local

# Logs
*.log
npm-debug.log*

# Dépendances
node_modules/

# Python
venv/
__pycache__/
*.pyc
*.pyo

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Fichiers de test
output.srt
